<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if user: %}
    <title>{{ user.name }}'s Watchlist</title>
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {% if user: %}
            {{ user.name }}'s Watchlist
        {% endif %}
    </h2>
    <ul class="movie-list">
        <li>
            Page Not Found - 404
            <span>
                <a href="{{ url_for('index') }}">Go Back</a>
            </span>
        </li>
    </ul>
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
    </footer>
</body>
</html>